/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");  

body { 
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.main-container-index {
    /* display: flex; */
    width: 100vw;
    background: #FFFAF4;
    background: radial-gradient(at center, #FFFAF4, #FFF7D3);
    height: 80vh;
    margin: 0;
}

.navbar {
    width: 100vw;
    height: 10vh;
    margin: -10px;
    display: flex;
    text-align: right;
    /* background-color: white; */
}
.navbar .shop-logo {
    align-self: center;
    /* width: 10%; */
    height: 50%;
    position: relative;
    left: 10%;
}


.navbar .shop-icon {
    position: relative;
    align-self: center;
    right: 12%;
    opacity: 70%;

}

.navbar nav {
    flex-grow: 1;
    align-self: center;
}


.navbar nav ul li {
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    right: 15%;

}

.navbar nav ul li a {
    color: #787878;
}

a {
    text-decoration: none;
    color: black;
    
}

.page-1 {
    height: 62%;
    width: 100%;
    /* background-color: black; */
}

.page-1-image {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    left: 50%;
    top: 15vh;
    height: 60%;
    width: 50%;
    /* background-color: green; */
}

.page-1-image img {
    position: relative;
    width: 20vw;

}

.page-1-text {
    position: relative;
    height: 35%;
    width: 35%;
    bottom: 10vw;
    /* background-color: blue; */
    left: 10%;
}

.page-1-text h1 { 
    position: relative;
    display: inline-block;
    /* text-align: center; */
    width: 100%;
    font-size: 2.5vw;

}

.page-1-text p { 
    position: relative;
    display: inline-block;
    width: 30vw;
    bottom: 15%;
    margin-top: 30px;
    font-size: 1vw;

}

.page-1-text button {
    position: relative;
    bottom: 10%;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-size: 1vw;
    width: 50%;
    background-color: #e08e94;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.middle-container {
    height: 150vh;
    /* display: flex; */
    justify-content: center;
    /* background-color: black; */
}

.middle-images{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    /* width: 50%; */
    /* height: 350px; */
    margin: 0 auto;
    top: 5%;
    /* background-color: black; */
}

.middle-images img {
    /* width: 80%; */
    width: 15vw;
    height: 20vh;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.showcase-1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    /* background-color: green; */
    top: 20vh;
    margin-bottom: 7%;
}


.products-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    width: 40%;
    height: 20vh;
    /* background-color: blue; */
}

.products-text h1 {
    font-size: 2vw;
    opacity: 80%;

}

.products-text .underline {
    position: relative;
    width: 7vw;
    height: 6%;
    background-color: black;
    border-radius: 20px;
    bottom: 1vw;
    background-color: #fa5a3a;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.products-showcase {
    /* width: 2385px; */
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    bottom: 1.5vh;
    /* width: 20%; */
    /* background-color: black; */
}

.products-showcase img {
    position: relative;
    object-fit: contain;
    /* height: 450px; */
    height: 30vh;
    width: 15vw;
    /* width: 350px; */
    margin: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #4D7AD2;
    /* height: 400px; */
    /* width: 400px; */

}


.product-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 10px; */
}

.product-item h3, .product-item p {
    position: relative;
    left: 6%;
    margin: 0;
}

.product-item p {
    font-size: 17px;
}

.product-item .stars {
    position: relative;
    color: orange;
    font-size: 25px;
    left: 4.3%;
}

.row-1 {
    position: relative;
    /* background-color: red; */
    height: 90%;
    /* margin-bottom: 7%; */
    top: 6vh;
    margin: 0;
}

.row-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height: 800px;
    width: 100%;
    top: -20%;
}


.showcase-2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    width: 100%;
    /* background-color: yellow; */
    top: 12%;
    margin-bottom: 7%;
}

.showcase-2 .row-1 .products-showcase img, .showcase-2 .row-2 .products-showcase img {
    background-color: #e5e5e5;
}


.exclusive-content-container {
    height: 70vh;
    margin-top: 15%;
    background: #C3B9F3;
    background: radial-gradient(at center, #C3B9F3, #274193);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-content-container .middle-text {
    position: relative;
    left: 5%;
    /* background-color: blue; */
}

.exclusive-content-container .middle-text h1 {
    position: relative;
    font-size: 3vw;
}

.exclusive-content-container .middle-text p {
    position: relative;
    font-size: 1vw;
    width: 25vw;
}

.exclusive-content-container .middle-text button {
    position: relative;
    bottom: 10%;
    border: 0;
    border-radius: 20px;
    /* padding-bottom: 5px; */
    width: 40%;
    height: 3.5vh;
    background-color: #b45600;
    font-size: 1vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.exclusive-content-container .middle-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.exclusive-content-container .middle-image img {
    width: 30vw;
    height: 40vh;
    position: relative;
}
.bottom-container {
    height: 96vh;
    /* background-color: #eef; */
}

.bottom-container .bottom-reviews {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: center;
    top: 15vh;
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    /* background-color: green; */
}

.bottom-container .bottom-reviews .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: auto;
    /* background-color: blue; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.bottom-container .bottom-reviews .review p {
    text-align: center;
    font-size: .8vw;
}

.bottom-container .bottom-reviews .review .review-name {
    position: relative;
    text-align: center;
    font-size: .8vw;
    bottom: 2vw;
}

.bottom-container .bottom-reviews .stars {
    color: orange;
    font-size: 1.5vw;
    /* max-width: 10vw; */
    /* min-width: 10vw; */
}

.bottom-container .bottom-reviews .review .review-quote {
    position: relative;
    color: orange;
    font-size: 2.5vw;
    top: 1vw;
}

.bottom-container .bottom-reviews .review .review-profile-img img {
    /* max-width: 12vw; */
    width: 6vw;
    transform: scale(0.6);
    object-fit: cover;
    clip-path: circle(40% at 50% 50%);
    /* border-radius: 10vw; */
}

.bottom-container .bottom-reviews .review .review-profile-img .zach {
    /* max-width: 12vw; */
    width: 6vw;
    transform: scale(0.6);
    object-fit: cover;
    clip-path: circle(40% at 50% 50%);
}

.logos-contain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16vh;
    width: 100%;
    height: 40vh;
    /* background-color: red; */
}

.logos-contain .logos {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 10%;
    width: 60%;
    height: 60%;
    /* background-color: green; */
}

.logos-contain .logos .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    /* background-color: blue; */
    min-width: 15%;
    margin: 10px;
}

.logos-contain .logos .logo img {
    object-fit: fill;
    position: relative;
    object-position: center;
    min-width: 50%;
    max-width: 100%;
    filter: grayscale(80);
}

.end-of-page {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: black;
}


.left-side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 48%;
    margin-left: 10vw;
    margin-right: 2vw;
    height: 100%;
    /* background-color: red; */
}

.left-side-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: green; */
    margin-left: 10px;
}

.left-side-sub h2, .left-side-sub p {
    align-self: flex-start;
    font-size: 1vw;
    color: #515151;
}


.left-side-sub .sub-1-images {
    align-self: flex-start;
}

.left-side-sub .sub-1-images img {
    width: 7vw;
}
.sub-1 {
    margin-left: 0;
}

.sub-2 .sub-2-inner {
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-2 .sub-2-inner img{
    width: 12vw;
}


.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-right: 10vw;
    /* background-color: red; */
}

.right-side .right-side-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 10px;
    /* background-color: green; */
}

.right-side .right-side-sub h3, .right-side .right-side-sub p {
    font-size: 1vw;
}

.right-side .r-sub-2 {
    margin-right: 0;
}

.copyright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4%;
    width: 100%;
    height: 10vh;
    background-color: black; 
    font-size: .8vw;
}

.main-container-products {
    width: 100%;
    height: 200vh;
    /* background-color: #eff; */
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 5vh;
    margin: 0 auto;
    width: 65%;
    height: 10vh;
    /* background-color: red; */
}

.header-section {
    width: 50%;
    height: 10vh;
    margin-right: 5px;
    /* background-color: green; */
}

.section-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.section-1 h2 {
    position: relative;
    top: 2vh;
}

.section-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.section-2 select {
    border: 2px solid orange;
}

.show-products {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #eef; */
    top: 10vh;
    width: 65%;
    margin: 0 auto;
}
.show-products .show-products-row {
    width: 100%;
    height: 45vh;
    margin-bottom: 2vh;
    /* background-color: red; */
    /* margin-top: 30px; */
}
.show-products .show-products-row .show-products-row-images {
    display: flex;
    flex-direction: row;
}
.show-products .show-products-row .show-products-row-images .show-products-row-image {
    position: relative;
    margin-right: -5px;
    left: 1.5vw;
    flex-direction: column;
    display: flex;
    flex-basis: 25%;
}
.show-products .show-products-row .show-products-row-images .show-products-row-image p {
    font-size: .8vw;
    color: #383838;
}

.show-products .show-products-row .show-products-row-images .image-1 img {
    margin-bottom: -7px;
}

.show-products .show-products-row .show-products-row-images .show-products-row-image .price-tag {
    position: relative;
    bottom: 2.2vh;
}

.show-products .show-products-row .show-products-row-images .show-products-row-image .row-image-stars {
    position: relative;
    bottom: 1vh;
    color: orange;
    font-size: 1.1vw;
}
.show-products .show-products-row .show-products-row-images .show-products-row-image img {
    height: 35vh;
    width: calc(90%);
}

.page-changers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 20%;
    left: 2%;
    width: 30%;
    height: 5.5vh;
    /* background-color: #ee9; */
}

.page-changer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: green; */
    margin-right: 15px;
    border: 1px solid orange;
    cursor: pointer;
}

.pc-5 {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-item1 {
    height: 120vh;
    width: 100%;
    /* background-color: #eef; */

}

.sub-container-item1 {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10%;
    width: 62%;
    height: 80vh;
    /* background-color: #ee0; */
}

.sub-container-item1 .sub-container-both{
    width: 50%;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: red; */
}

.sub-container-item1 .sub-container-left{
}

.sub-container-item1 .sub-container-left img {
    width: 100%;
    height: 64vh;
}
.sub-container-item1 .sub-container-left .sub-container-left-small {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    /* background-color: green; */

}

.sub-container-item1 .sub-container-left .sub-container-left-small .smalls {
    position: relative;
    width: 25%;
    height: 100%;
    /* background-color: green; */
    margin-right: 10px;
}

.sub-container-item1 .sub-container-left .sub-container-left-small .small-4 {
    margin-right: 0;
}

.sub-container-item1 .sub-container-left .sub-container-left-small .smalls img {
    width: 100%;
    height: 100%;
}

.sub-container-item1 .sub-container-right{
    position: relative;
    top: 5;
    margin-right: 0;

}
.sub-container-item1 .sub-container-right h1{
    font-size: 3vw;
}

.sub-container-item1 .sub-container-right .dir p{
    position: relative;
    /* top: 4vh; */
    top: clamp(3vh, 4vh, 3vh);
}
.sub-container-item1 .sub-container-right .price-tag p {
    position: relative;
    bottom: 2.8vh;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: bolder;
}
.sub-container-item1 .sub-container-right select{
    position: relative;
    bottom: 3vh;
    width: 6vw;
    height: 4vh;
    border: thin solid #b45000;
    text-align: center;
    background-color: white;

}
.sub-container-item1 .sub-container-right .buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    /* top: 2%; */
}

.sub-container-item1 .sub-container-right .buttons input{
    width: 2.5vw;
    height: 4vh;
    margin-right: 15px;
    text-align: center;
    border: thin solid #b45600;
}

.sub-container-item1 .sub-container-right .buttons button{
    border: 0;
    border-radius: 25px;
    width: 8vw;
    font-size: clamp(.7vw, .8vw, .9vw);
    background-color: #b45600;
    color: white;
}

.item1-related-products {
    width: 100%;
    height: 70vh;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item1-related-products .item1-related-products-bar {
    width: 65%;
    height: 10vh;
    /* background-color: #eef; */
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
}

.item1-related-products .item1-related-products-bar-left {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item1-related-products .item1-related-products-bar-left h2 {
    position: relative;
    top: 13%;
}

.item1-related-products .item1-related-products-bar-right {
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



.item1-related-products .item1-related-products-list{
    width: 65%;
    height: 65%;
    display: flex;
    flex-direction: row;
    /* background-color: #ee0; */
}

.item1-related-products .item1-related-products-list .item {
    width: 25%;
    height: 100%;
    margin-right: 10px;
    /* background-color: green; */
}

.item1-related-products .item1-related-products-list .item-4 {
    margin-right: 0;
}

.item1-related-products .item1-related-products-list .item .item-full {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.item1-related-products .item1-related-products-list .item .item-full img{
    width: 100%;
    height: 35vh;
    margin-bottom: -5px;
}

.item1-related-products .item1-related-products-list .item .item-full .title p {
      font-size: clamp(10px, 1vw, 16px);
      position: relative;
      margin-bottom: -5px;
      /* color: #eee; */
}

 .item1-related-products .item1-related-products-list .item .item-full .price-tag p {
   font-size: clamp(8px, 1vw, 14px);

 }

.item1-related-products .item1-related-products-list .item .item-full .stars{
    color: orange;
    margin-bottom: -13px;
    margin-top: 5px;
}

.main-container-account {
    width: 100%;
    height: 100vh;
    background-color: background: #FFFAF4;
    background: radial-gradient(at center, #FFFAF4, #FFF7D3);
}

.main-container-account .main-page-account {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    /* background-color: #aaaaaa; */
}

.main-container-account .main-page-account .main-page-account-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 82%;
    /* background-color: green; */
}

.main-container-account .main-page-account .main-page-account-left img{
    width: clamp(400px, 60%, 500px);

}

.main-container-account .main-page-account .main-page-account-right{
    width: 30%;
    height: 82%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #eee; */
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login{
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5B0DED;
    background: linear-gradient(135deg, #5B0DED, #D923F1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login h2{
    font-size: clamp(30px, 2vw, 40px);
    color: #fff;
    /* font-family: 'Open Sans', sans-serif; */
    position: relative;
    font-weight: thin;
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login p{
    font-size: clamp(10px, .8vw, 14px);
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login p a{
    text-decoration: underline;
    color: blue;
}
.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login input{
    width: 90%;
    margin-bottom: 10px;
    border: 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-container-account .main-page-account .main-page-account-right .main-page-account-right-login button{
    width: 90%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media only screen and (hover: hover) {
    .page-1-text button:hover {
        background-color: #d96f77;
        transition: all 1s ease 0s;
    }
    .products-showcase img:hover {
        transform: scale(1.1);
        transition: all 1s ease 0s;
    }
    .exclusive-content-container .middle-text button:hover {
        background-color: #894201;
        transition: all 1s ease 0s;
    }
    .page-changer-button:hover {
        transition: all 1s ease 0s;
        background-color: #8a2800;
    }
    .sub-container-item1 .sub-container-right .buttons button:hover{
        transition: all 1s ease 0s;
        background-color: #8a2800;
    }


}

@media only screen and (max-width: 600px) {
    .main-container-index {
        width: 105vw;
    }
    .navbar {
        width: 100vw;
    }
    .navbar .shop-logo {
        transform:  scale(0.5);
        left: 4%;
    }
    .navbar .shop-icon {
        transform:  scale(0.5);
        right: 2%;
        bottom: 3%;
    }
    .navbar nav {
        font-size: 5.6px;
        transform: scale(1.3);
        position: relative;
        bottom: 3%;
    }
    .navbar nav ul li {
        margin: 0px 3px;
        right: 15%;
    }
    .navbar nav ul li a {
        color: #787878;
    }

    .page-1-image  img {
        transform: scale(1.5);
        
    }
    .page-1-text {
        bottom: 25vw;
    }

    .page-1-text h1 { 
        font-size: 5vw;

    }

    .page-1-text p { 
        font-size: 3vw;

    }

    .page-1-text button {
        padding: 0px;
        font-size: 8px;
        height: 3vh;
    }

    .middle-images img {
        /* width: 80%; */
        width: 25vw;
        height: 15vh;

    }
    .showcase-1 {
        margin-bottom: 7%;
    }

    .featured-products .products-text{
        /* background-color: #eef; */
        width: 50%;
        height: 20vh;
    }

    .featured-products .products-text .underline{
        position: relative;
        bottom: 10%;
        width: 30%;
    }

    .featured-products .products-text h1{
        text-align: center;
        position: relative;
        bottom: 10%;
    }


    .products-text h1 {
        font-size: 16px;
    }

    .products-text .underline {
        width: 12vw;
        height: 4%;
    }

    .products-showcase {
        bottom: 10vh;
    }

    .products-showcase img {
        height: 15vh;
        width: 20vw;
        margin: 10px;
    }


    .product-item h3 {
        font-size: 10px;
        left: 15%;
    }

    .product-item p {
        font-size: 11px;
        left: 15%;
    }

    .product-item .stars {
        position: relative;
        color: orange;
        font-size: 10px;
        left: 14%;
    }

    .row-1 {
        position: relative;
        height: 100%;
        top: 12vh;
        margin: 0;
    }

    .row-2 {
        top: 5%;
    }

    .showcase-2 {
        height: 600px;
        top: 6%;
    }

    .exclusive-content-container {
        height: 50vh;
        width: 105vw;
    }


    .exclusive-content-container .middle-text {
        position: relative;
        left: 5%;
    }

    .exclusive-content-container .middle-text h1 {
        position: relative;
        font-size: 5vw;
    }

    .exclusive-content-container .middle-text p {
        position: relative;
        font-size: 2.5vw;
        width: 35vw;
    }

    .exclusive-content-container .middle-text button {
        width: 50%;
        padding: 0;
        font-size: 2vw;
    }

    .exclusive-content-container .middle-image img {
        width: 35vw;
        height: 15vh;
    }
    .bottom-container {
        height: 70vh;
        width: 105vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* background-color: red; */
    }

    .bottom-container .bottom-reviews {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        top: .2vh;
        width: 77%;
        height: 0vh;
        margin: 0 auto;
        margin-left: 26px;
        /* background-color: green; */
    }

    .bottom-container .bottom-reviews .review {
        /* transform: scale(1); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 110%;
        height: auto;
        /* background-color: blue; */
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    }

    .bottom-container .bottom-reviews .review p {
        text-align: center;
        font-size: 2.5vw;
    }

    .bottom-container .bottom-reviews .review .review-name {
        position: relative;
        text-align: center;
        font-size: 2.5vw;
        bottom: 2vw;
    }

    .bottom-container .bottom-reviews .stars {
        color: orange;
        font-size: 2.5vw;
        /* max-width: 10vw; */
        /* min-width: 10vw; */
    }

    .bottom-container .bottom-reviews .review .review-quote {
        position: relative;
        color: orange;
        font-size: 3vw;
        top: 1vw;
    }

    .bottom-container .bottom-reviews .review .review-profile-img img {
        /* max-width: 12vw; */
        width: 6vw;
        transform: scale(1.2);
        object-fit: cover;
        clip-path: circle(40% at 50% 50%);
        /* border-radius: 10vw; */
    }

    .bottom-container .bottom-reviews .review .review-profile-img .zach {
        /* max-width: 12vw; */
        width: 6vw;
        transform: scale(1.2);
        object-fit: cover;
        clip-path: circle(40% at 50% 50%);
    }

    .logos-contain{
        position: relative;
        /* align-self: center; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        top: 100%;
        width: 100%;
        height: 10vh;
        /* background-color: #eef; */
    }

    .logos-contain .logos {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 60%;
        height: 60%;
        /* background-color: green; */
    }

    .logos-contain .logos .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        /* background-color: blue; */
        min-width: 15%;
        margin: 10px;
    }

    .logos-contain .logos .logo img {
        object-fit: fill;
        position: relative;
        object-position: center;
        min-width: 50%;
        max-width: 100%;
        filter: grayscale(80);
    }

    .end-of-page {
        margin-top: 15vh;
        height: 20vh;
    }
    .left-side-sub {
        margin-left: 10px;
    }

    .left-side-sub h2, .left-side-sub p {
        font-size: 1.5vw;
    }

    .sub-1 h2 {
        position: relative;
        padding-top: 20px;
    }

    .sub-1 p {
        position: relative;
        top: 10%;
    }
    .sub-2 .sub-2-inner {
        top: 2vh;
    }

    .sub-2 .sub-2-inner img{
        width: 12vw;
    }

    .right-side .right-side-sub h3, .right-side .right-side-sub p {
        font-size: 1.7vw;
        position: relative;
        top: 5%;
    }

    .copyright {
        font-size: 2vw;
    }

    .main-container-products {
        width: 100%;
        height: 120vh;
    }

    .section-1 h2 {
        font-size: 3vw;
        position: relative; 
        right: 20%;
        bottom: 15%;
    }

    .section-2 select {
        position: relative;
        width: 50%;
        height: 20%;
        font-size: 2vw;
        top: 7%;
        right: -30%;
    }

    .show-products {
        width: 85%;
    }
    .show-products .show-products-row {
        margin-bottom: -15vh;
    }
    .show-products .show-products-row .show-products-row-images .show-products-row-image {
        margin-right: 5px;
        left: 2vw;
    }
    .show-products .show-products-row .show-products-row-images .show-products-row-image p {
        font-size: 2.3vw;
    }

    .show-products .show-products-row .show-products-row-images .show-products-row-image .row-image-stars {
        font-size: 2vw;
    }
    .show-products .show-products-row .show-products-row-images .show-products-row-image img {
        height: 20vh;
    }

    .show-products .show-products-row .show-products-row-images .image-1 img {
        margin-bottom: -6px;
    }

    .page-changers {
        top: 5%;
        left: 2%;
        width: 60%;
        height: 3.5vh;
        font-size: 3vw;
    }

    .page-changer-button {
        width: 15%;
        margin-right: 5px;
    }

    .main-container-item1 {
        height: 65vh;
    }


    .sub-container-item1 .sub-container-left{
        position: relative;
        right: 15%;
    }

    .sub-container-item1 .sub-container-left img {
        object-fit: cover;
        width: 40vw;
        height: 30vh;
    }

    .sub-container-item1 .sub-container-left .sub-container-left-small .smalls {
        width: 100%;
        margin-right: 5px;
    }

    .sub-container-item1 .sub-container-left .sub-container-left-small .small-4 {
        margin-right: 0;
    }

    .sub-container-item1 .sub-container-left .sub-container-left-small .smalls img {
        object-fit: cover;
        width: 9vw;
        height: 40%;
    }

    .sub-container-item1 .sub-container-right{
        position: relative;
        top: 5;
        margin-right: 0;

    }
    .sub-container-item1 .sub-container-right h1{
        font-size: 3vw;
        position: relative;
        bottom: 2vh;
    }


    .sub-container-item1 .sub-container-right .dir p{
        position: relative;
        top: -1vh;
        font-size: 3.5vw;
        /* top: clamp(3vh, 4vh, 3vh); */
    }
    .sub-container-item1 .sub-container-right .price-tag p {
        position: relative;
        bottom: 2.8vh;
        font-size: 4vw;
        /* font-size: clamp(16px, 2vw, 24px); */
        font-weight: bolder;
    }
    .sub-container-item1 .sub-container-right select{
        width: 20vw;
        height: 3vh;
        font-size: 2.5vw;

    }
    .sub-container-item1 .sub-container-right .buttons input{
        width: 8vw;
        height: 4vh;
    }

    .sub-container-item1 .sub-container-right .buttons button{
        position: relative;
        right: 5%;
        width: 20vw;
        font-size: 2.5vw;
    }

    .sub-container-item1 .sub-container-right h2{
        position: relative;
        top: 2%;
        font-size: 3vw;
    }

    .sub-container-item1 .sub-container-right p{
        font-size: 3vw;
    }

    .item1-related-products {
        height: 50vh;
    }


    .item1-related-products .item1-related-products-bar-left h2 {
        position: relative;
        top: 50%;
        right: 30%;
        font-size: 3.5vw;
    }

    .item1-related-products .item1-related-products-bar-right {
        position: relative;
        top: 48%;
        left: 15%;
        font-size: 3vw;
    }
    .item1-related-products .item1-related-products-list{
        position: relative;
        right: 11%;
    }

    .item1-related-products .item1-related-products-list .item {
        margin-right: 20px;
    }

    .item1-related-products .item1-related-products-list .item .item-full img{
        width: 20vw;
        height: 22vh;
    }

    .item1-related-products .item1-related-products-list .item .item-full .title p {
        font-size: 2.5vw;
    }

     .item1-related-products .item1-related-products-list .item .item-full .price-tag p {
         font-size: 3vw;

     }

    .item1-related-products .item1-related-products-list .item .item-full .stars{
        font-size: 3vw;
        margin-bottom: -11px;
    }

    .main-container-account {
        height: 100vh;
        margin-bottom: -15vh;
    }

    .main-container-account .main-page-account .main-page-account-left img{
        display: none;
    }

    .main-container-account .main-page-account .main-page-account-right{
        position: relative;
        left: 1%;
        width: 200vw;
    }

    .main-container-account .main-page-account .main-page-account-right .main-page-account-right-login h2{
        font-size: 4vw;
    }

    .main-container-account .main-page-account .main-page-account-right .main-page-account-right-login p{
        font-size: 2vw;
    }

    .main-container-account .main-page-account .main-page-account-right .main-page-account-right-login input{
        height: 3.5vh;
        font-size: 2.5vw;
    }

    .main-container-account .main-page-account .main-page-account-right .main-page-account-right-login button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
        height: 3.5vh;
    }


}



